<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <p>Account Info: <%= user %></p>
    <h1>Account ID: <%= user._id %></h1>
    <form action="/transactions" method="POST">
        
        <div class="form-group">
            
            
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>