<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form method="POST">
        <div class="form-group">
            <label for="AccountId">Account ID: </label>
            <input type="text" name="AccountId">
            <br>
            <label for="AccountPin">Account Pin: </label>
            <input type="text" name="AccountPin">
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>